body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #3498db, #e74c3c);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite alternate-reverse;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: #fee440;
}

h1 {
  color: #34495e;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2em;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(45deg, #2ecc71, #e74c3c);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.button:hover {
  background-color: #2ecc71;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.button:hover:before {
  opacity: 1;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.a { color: #E7484F }
.b { color: #F68B1D }
.c { color: #FCED00 }
.d { color: #009E4F }
.e { color: #00AAC3 }
.f { color: #732982 }

.container {
  margin-top: 150px;
}

.text-center {
  text-align: center;
}

.rainbow {
  background-color: #343A40;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}

.rainbow-1:hover {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation: slidebg 5s linear infinite;
}

.rainbow-2:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation: slidebg 2s linear infinite;
}

.rainbow-3:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  animation: slidebg 2s linear infinite;
}

.rainbow-4:hover {
  background-image: linear-gradient(
      to right, 
      #E7484F,
      #F68B1D, 
      #FCED00,
      #009E4F,
      #00AAC3,
      #732982
  );
  animation: slidebg 2s linear infinite;
}

.rainbow-5:hover {
  background-image: linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
      background-position: 20vw;
  }
}

.follow {
  margin-top: 40px;
}

.follow a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
